<div class="container">
  <app-carousel>
    <div class="card" appcarouselItem>
      <h1>Test 1</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        consectetur dolore dolorem possimus quasi sit! Dolores, alias velit?
        Libero nobis quam ipsam nisi excepturi, odit fugiat nemo in voluptatum
        accusamus!
      </p>
    </div>
    <div class="card" appcarouselItem>
      <h1>Test 2</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        consectetur dolore dolorem possimus quasi sit! Dolores, alias velit?
        Libero nobis quam ipsam nisi excepturi, odit fugiat nemo in voluptatum
        accusamus!
      </p>
    </div>
    <div class="card" appcarouselItem>
      <h1>Test 3</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        consectetur dolore dolorem possimus quasi sit! Dolores, alias velit?
        Libero nobis quam ipsam nisi excepturi, odit fugiat nemo in voluptatum
        accusamus!
      </p>
    </div>
    <div class="card" appcarouselItem>
      <h1>Test 4</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        consectetur dolore dolorem possimus quasi sit! Dolores, alias velit?
        Libero nobis quam ipsam nisi excepturi, odit fugiat nemo in voluptatum
        accusamus!
      </p>
    </div>
    <div class="card" appcarouselItem>
      <h1>Test 5</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        consectetur dolore dolorem possimus quasi sit! Dolores, alias velit?
        Libero nobis quam ipsam nisi excepturi, odit fugiat nemo in voluptatum
        accusamus!
      </p>
    </div>
    <div class="card" appcarouselItem>
      <h1>Test 6</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        consectetur dolore dolorem possimus quasi sit! Dolores, alias velit?
        Libero nobis quam ipsam nisi excepturi, odit fugiat nemo in voluptatum
        accusamus!
      </p>
    </div>
  </app-carousel>
</div>
